<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Home page</title>

  <script src="https://kit.fontawesome.com/47101d2035.js" crossorigin="anonymous"></script>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

  <style>
    .center {
      position: absolute;
      text-align: center;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      font-family: Arial, Helvetica, sans-serif;
      background-color: rgb(230, 239, 245);
    }
  </style>
</head>


<body class="center">

  <h1 style="color:rgb(44, 44, 90); font-weight: 700;">
    <i class="fas fa-heart"></i> Diabete Predictor
  </h1>

  <p style="color:rgb(51, 51, 83); font-weight: 700;">
    Predict diabetes for people through the following data!
  </p>

  <form class="form-horizontal" action="{% url 'result' %}">
    {% csrf_token %}
    <div class="form-group">
        <input style="border: 1px solid black;" class="form-control" required type="text" name="pregnancies" placeholder="Number of Pregnancies">
    </div>
    <div class="form-group">
        <input style="border: 1px solid black;" class="form-control" required type="text" name="glucose" placeholder="Glucose">
    </div>
    <div class="form-group">
        <input style="border: 1px solid black;" class="form-control" required type="text" name="bloodpressure" placeholder="Blood Pressure">
    </div>
    <div class="form-group">
        <input style="border: 1px solid black;" class="form-control" required type="text" name="skinthickness" placeholder="Skin Thickness">
    </div>
    <div class="form-group">
        <input style="border: 1px solid black;" class="form-control" required type="text" name="insulin" placeholder="Insulin Level">
    </div>
    <div class="form-group">
        <input style="border: 1px solid black;" class="form-control" required type="text" name="bmi" placeholder="Body Mass Index">
    </div>
    <div class="form-group">
        <input style="border: 1px solid black;" class="form-control" required type="text" name="dpf" placeholder="Diabetes Pedigree Function">
    </div>
    <div class="form-group">
        <input style="border: 1px solid black;" class="form-control" required type="text" name="age" placeholder="Age">
    </div>
    <input class="btn btn-primary btn-lg btn-block" type="submit" value='Predict'>
</form>
</body>

</html>